.view_more {
    background: #eee;
    .information-listp {
        p {
            font-size: 14px;
            color: #373a44;
            line-height: 25px;
            span.mtitle {
                color: #777;
            }
        }
    }
    .information-list-title {
        padding: 10px;
        background: #f5f5f5;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -16px;
        margin-right: -16px;
        font-size: 16px;
        color: #ff4601;
    }
}    

